<form #f="ngForm" (ngSubmit)="submit(f)" class="row g-3">
  <div class="col-md-4">
    <label for="name" class="form-label">Nome</label>
    <input type="text" name="name" class="form-control" placeholder="Nome" required ngModel #nameField="ngModel">
    <p class="text-danger" *ngIf="nameField.invalid && nameField.touched"><small>Il campo è richiesto</small></p>
  </div>
  <div class="col-md-4">
    <label for="priority" class="form-label">Priority</label>
    <select class="form-select" name="priority" required ngModel #priorityField="ngModel">
      <option value="low">Low</option>
      <option value="medium">Medium</option>
      <option value="high">High</option>
    </select>
    <p class="text-danger" *ngIf="priorityField.invalid && priorityField.touched"><small>Il campo è richiesto</small></p>
  </div>
  <div class="col-md-4">
    <label for="validationDefaultUsername" class="form-label">Username</label>
    <input type="date" name="start" class="form-control" placeholder="Data Inizio" required ngModel #dateField="ngModel">
    <p class="text-danger" *ngIf="dateField.invalid && dateField.touched"><small>Il campo è richiesto</small></p>
  </div>
  <div class="col-md-12">
    <label for="description" class="form-label">Description</label>
    <textarea class="form-control" name="description" placeholder="Descrizione" required ngModel #descriptionField="ngModel"></textarea>
    <p class="text-danger" *ngIf="descriptionField.invalid && descriptionField.touched"><small>Il campo è richiesto</small></p>
  </div>
  <div class="col-12">
    <button type="submit" [disabled]="f.invalid" class="w-100 btn btn-primary btn-lg">Crea</button>
  </div>
</form>
